{% extends "base.html" %}
{% block title %}修改密码 - LocalLife{% endblock %}

{% block content %}
<section class="glass card profile-page">
  <h1>修改密码</h1>
  <form method="post">
    {% csrf_token %}

    <div class="form-row">
      <label>旧密码</label>
      {{ form.old_password }}
    </div>

    <div class="form-row">
      <label>新密码</label>
      {{ form.new_password1 }}
    </div>

    <div class="form-row">
      <label>确认新密码</label>
      {{ form.new_password2 }}
    </div>

    <button type="submit" class="btn-primary">确认修改</button>
  </form>
</section>
{% endblock %}